<div class="bg-black text-light">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
        <div class="col-md-4 p-2 d-flex align-items-center">
            <span class="text-muted">&copy; 2023 Todos los derechos</span>
        </div>

        <ul class="nav p-2 col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-muted" href="#">
                    <i class="bi bi-facebook icon"></i>
                </a></li>
            <li class="ms-3"><a class="text-muted" href="#">
                    <i class="bi bi-instagram icon"></i>
                </a></li>
            <li class="ms-3"><a class="text-muted" href="#">
                    <i class="bi bi-twitter icon"></i>
                </a></li>
        </ul>
    </footer>
</div>