<!DOCTYPE html>
<html lang="es">

<head>
    <title>Freedom</title>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0 , maximum-scale=1.0 , minimum-scale=1.0 , user-scalable=no">
    <link rel="icon" type="image/x-icon" href="images/cubo rubik.png" />


    <link rel="stylesheet" href="complements/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="font/bootstrap-icons.css">
    <link rel="stylesheet" href="complements/splide.min.css">
    <link rel="stylesheet" href="complements/splide-default.min.css">
    <link rel="stylesheet" href="complements/splide-core.min.css">
    <link href="index.css" rel="stylesheet">
    <link rel="stylesheet" href="input.css">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="slider.css">
    <link rel="stylesheet" href="productos.css">

    <style>
        .splide .splide__slide img {
            width: 100%;
            height: auto;
        }

        .splide__slide img {
            width: 100%;
            height: 200px;
            object-fit: cover;
        }

        .splide__slide {}


        .splide__slide.is-active {}
    </style>

    <script src="complements/jquery.js"></script>
    <script src="complements/popper.js"></script>
    <script src="complements/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="complements/splide.min.js"></script>
 
</head>

<body>

    <!-- Navbar -->
    {{> navbar}}


    <div class="mt-5">
        <img loading="lazy" src="images/home.jpeg" class="w-100 img-fluid" alt="">
    </div>



    <!-- Categorias -->
    <div class="p-3 mt-3">
        <h2>- Categor&iacuteas</h2>

        <section id="image-carousel-categories" class="splide" aria-label="Hermosas imágenes">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide item-category text-center me-1 ms-1">
                        <div class="  p-3  cursor">
                            <div class="card-body">
                                <img loading="lazy" src="images/p1.jpeg" class="img-fluid w-100" alt="">
                            </div>
                            <div class="">
                                <p>
                                    EB-ALBT140 AIRLINK AIR CONDUCTION HEADPHONES</p> 
                            </div>
                        </div>
                    </li> 
                    <li class="splide__slide item-category text-center me-1 ms-1">
                        <div class="  p-3  cursor">
                            <div class="card-body">
                                <img loading="lazy" src="images/p1.jpeg" class="img-fluid w-100" alt="">
                            </div>
                            <div class="">
                                <p>
                                    EB-ALBT140 AIRLINK AIR CONDUCTION HEADPHONES</p> 
                            </div>
                        </div>
                    </li> 
                    <li class="splide__slide item-category text-center me-1 ms-1">
                        <div class="  p-3  cursor">
                            <div class="card-body">
                                <img loading="lazy" src="images/p1.jpeg" class="img-fluid w-100" alt="">
                            </div>
                            <div class="">
                                <p>
                                    EB-ALBT140 AIRLINK AIR CONDUCTION HEADPHONES</p> 
                            </div>
                        </div>
                    </li> 
                    <li class="splide__slide item-category text-center me-1 ms-1">
                        <div class="  p-3  cursor">
                            <div class="card-body">
                                <img loading="lazy" src="images/p1.jpeg" class="img-fluid w-100" alt="">
                            </div>
                            <div class="">
                                <p>
                                    EB-ALBT140 AIRLINK AIR CONDUCTION HEADPHONES</p> 
                            </div>
                        </div>
                    </li> 
                </ul>
            </div>
        </section>

    </div>




    <!-- Ultimo -->
    <div class="p-3 mt-3 mb-5">
        <h2>- Lo &uacuteltimo</h2>

        <section id="image-carousel-last" class="splide" aria-label="Hermosas imágenes">
            <div class="splide__track">
                <ul class="splide__list" id="last">
                    <li class="splide__slide text-center me-1 ms-1">
                        <div class="text-center product-father-index">
                            <div class="  p-1  product-index ">
                                
                                <div class=" product-item">
                                    <img loading="lazy" src="images/repeat.png" class="img-fluid w-100 rounded rounded-3 image" alt="">
                                    <div class="details"> 
                                        <div class="">
                                            <div class="high-f p-1 bg-light rounded rounded-3 cursor">
                                                <i class="bi bi-clock"> 23horas</i>
                                            </div>
                                            <div class="high-s rounded-circle bg-light p-1  cursor"><i class="bi bi-share-fill" style="font-size: larger;"></i></div>
                                        </div>
                                        <div class="d-flex justify-content-center  middle">
                                            <i class="bi bi-eye p-2 bg-light rounded rounded-3 me-5 cursor"></i>
                                            <i class="bi bi-cart-fill p-2 bg-light rounded rounded-3 cursor"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class=""> 
                                    <div class="d-flex justify-content-around">
                                        <p class="text-muted genre cursor">Genero</p>
                                        <div class="">
                                            <i class="bi bi-star-fill star-fill"></i>
                                            <i class="bi bi-star-fill star-fill"></i>
                                            <i class="bi bi-star-fill star-fill"></i>
                                            <i class="bi bi-star-fill star-fill"></i>
                                            <i class="bi bi-star-fill star-fill"></i>
                                        </div>
                                    </div>
                                    <p>Travel & Landmark Icon Pack (AI)</p>
                                    <div class="d-flex justify-content-around">
                                        <p class="text-muted"><i class="bi bi-download"> 21 ventas</i></p>
                                        <p class="text-danger">$23.00</p>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    </li>  
                </ul>
            </div>
        </section>
    </div>



    <!-- Boton fixed con enlace a watsapp -->
    <div class="button-fixed cursor">
        <i class="bi bi-whatsapp bg-black p-2 rounded-circle icon-2 icon-watsapp"></i>
    </div>


    
    {{!-- footer --}}
    {{> footer }}



    <script>
        new Splide( '#image-carousel-categories', {
		perPage    : 4,
        pagination: false,
        type   : 'loop',
  drag   : 'free',
  focus  : 'center',
		breakpoints: {
			400: {
				perPage: 1,
			},
			640: {
				perPage: 2,
			},
			800: {
				perPage: 2,
			},
			1000: {
				perPage: 3,
			},
		},
  } ).mount();
  
  new Splide( '#image-carousel-last', {
		perPage    : 5,
        pagination: false,
        type   : 'loop',
  drag   : 'free',
  focus  : 'center',
		breakpoints: {
			400: {
				perPage: 1,
			},
			640: {
				perPage: 2,
			},
			800: {
				perPage: 3,
			},
			1000: {
				perPage: 4,
			},
		},
  } ).mount();
    </script>

    <script src="navbar.js"></script>
    <script src="index.js"></script>

</body>

</html>