<!DOCTYPE html>
<html lang="es">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0 , maximum-scale=1.0 , minimum-scale=1.0 , user-scalable=no">
    <link rel="icon" type="image/x-icon" href="images/cubo rubik.png" />


    <link rel="stylesheet" href="complements/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="font/bootstrap-icons.css">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="login.css">


    <script src="complements/jquery.js"></script>
    <script src="complements/popper.js"></script>
    <script src="complements/bootstrap/js/bootstrap.bundle.js"></script>

    <title>Dust</title>
</head>

<body>

    <div class="head head-color">
        <a href="/" class="nav-link text-light">Ir al sitio</a>
    </div>
    <div class="triangle">
        <div class="triangle-svg">
        </div>
    </div>


    <h1 id="tab" class="text-center mt-5">Autentificarse</h1>
    <!-- Registro navs -->
    <div class="d-flex justify-content-center mt-5">
        <div>
            <div class="d-flex">
                <p class="cursor p-2 text-nav me-3 text-primary " id="nav-login-tab">Entrar</p>
                <p class="cursor p-2 text-muted text-primary" id="nav-register-tab">Registro</p>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-center mt-5">
        <div>
            <!-- Formulario login -->
            <div class="" id="nav-login">
                <form class="" id="login" autocomplete="off">
                    <p>Nombre</p>
                    <input type="text" class="form-control">

                    <p>Contrase&ntildea</p>
                    <input type="text" class="form-control">
                    
                    <div class="d-flex justify-content-around mt-3">
                        <a href="" id="recuperate" class="text-decoration-none text-success">Recuperar contrase&ntildea</a>
                        <button type="submit" class="btn btn-success">Entrar</button>
                    </div>
                </form>
            </div>
        
            <!-- Formulario register -->
            <div class="d-none" id="nav-register">
                <form class="" id="register" autocomplete="off">
                    <p>Nombre</p>
                    <input type="text" id="name" class="form-control">
        
                    <p>Correo electr&oacutenico o n&uacutemero de telefono</p>
                    <input type="text" id="email-phone" class="form-control">
        
                    <p>Contrase&ntildea</p>
                    <input type="password" id="password" class="form-control">
        
                    <p>Repetir contrase&ntildea</p>
                    <input type="password" id="repeat-password" class="form-control">
        
                    <p>Foto</p>
                    <input type="file" id="rphoto" class="form-control">
                    <div class="d-flex justify-content-around mt-3">
                        <a href="" id="recuperate" class="text-decoration-none text-success">Recuperar contrase&ntildea</a>
                        <button type="submit" class="btn btn-success">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    


    <script src="login.js"></script>
    <script src="index.js"></script>

</body>

</html>