<!DOCTYPE html>
<html lang="es">

<head>
    <title>Freedom</title>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0 , maximum-scale=1.0 , minimum-scale=1.0 , user-scalable=no">
    <link rel="icon" type="image/x-icon" href="images/cubo rubik.png" />


    <link rel="stylesheet" href="complements/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="font/bootstrap-icons.css">
    <link rel="stylesheet" href="complements/splide.min.css">
    <link rel="stylesheet" href="complements/splide-default.min.css">
    <link rel="stylesheet" href="complements/splide-core.min.css">

    <link href="index.css" rel="stylesheet">
    <link rel="stylesheet" href="input.css">
    <link rel="stylesheet" href="navbar.css">
    <link rel="stylesheet" href="productos.css">
    <link rel="stylesheet" href="producto.css">
    <link rel="stylesheet" href="slider.css">
    <link rel="stylesheet" href="zoomy.css">


    <script src="complements/jquery.min.js"></script>  
    <script src="complements/zoomy.js"></script>
    <script src="complements/popper.js"></script>
    <script src="complements/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="complements/splide.min.js"></script>

</head>

<body>

    <!-- Navbar -->
    {{> navbar }}



    <div class="mt-5"> 
        .
    </div>


    <!-- Producto -->
    <div class="row mt-5 m-1 p-5">
        <!-- Slider -->
        <div class="col-12 col-lg-6">
            <section id="main-slider" class="splide" aria-label="My Awesome Gallery">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="splide__slide">
                            <div class="d-flex justify-content-center">
                                <a href="images/home.jpeg" class="zoom"><img src="images/home.jpeg"
                                        class="w-100 img-fluid" /></a>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="d-flex justify-content-center">
                                <a href="images/p2.jpeg" class="zoom"><img src="images/p2.jpeg"
                                        class="w-100 img-fluid" /></a>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="d-flex justify-content-center">
                                <a href="images/p2.jpeg" class="zoom"><img src="images/p2.jpeg"
                                        class="w-100 img-fluid" /></a>
                            </div>
                        </li>
                        <li class="splide__slide">
                            <div class="d-flex justify-content-center">
                                <a href="images/p2.jpeg" class="zoom"><img src="images/p2.jpeg"
                                        class="w-100 img-fluid" /></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
            <ul id="thumbnails" class="thumbnails d-flex ">
                <li class="thumbnail">
                    <img loading="lazy" src="images/p1.jpeg" alt="" />
                </li>
                <li class="thumbnail">
                    <img loading="lazy" src="images/p2.jpeg" alt="" />
                </li>
                <li class="thumbnail">
                    <img loading="lazy" src="images/p3.jpeg" alt="" />
                </li>
                <li class="thumbnail">
                    <img loading="lazy" src="images/p1.jpeg" alt="" />
                </li>
            </ul>
        </div>

        <div class="col-12 col-lg-6 p-2 mt-3 text-black-75">
            <!-- Nombres -->
            <p class="text-muted">Armani Brand</p>
            <p class="h1 mt-3 cursor text-hover-blue">Cu dicam nostro est</p>

            <div class="d-flex">
                <div class="">
                    <i class="bi bi-star-fill star-fill"></i>
                    <i class="bi bi-star-fill star-fill"></i>
                    <i class="bi bi-star-fill star-fill"></i>
                    <i class="bi bi-star-fill star-fill"></i>
                    <i class="bi bi-star-half star-fill"></i>
                </div>
            </div>

            <!-- Acordion -->
            <div class="mt-2">
                <div class="accordion-item">
                    <h4 class="accordion-header" id="headingOne">
                        <div class="accordion-button collapsed text-muted" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseDescription" aria-expanded="true" aria-controls="collapseOne">
                            Descripci&oacuten
                        </div>
                    </h4>
                    <div id="collapseDescription" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>Fashion has always been so temporary and uncertain. You can’t keep up with it. This social
                                phenomenon is very whimsical, thus we as the consumers always try to stay in touch with all
                                the latest fashion tendencies.</p>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h4 class="accordion-header" id="headingOne">
                        <div class="accordion-button collapsed text-muted" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseDelivery" aria-expanded="true" aria-controls="collapseOne">
                            Entrega
                        </div>
                    </h4>
                    <div id="collapseDelivery" class="accordion-collapse collapse" aria-labelledby="headingOne"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p>We deliver our goods worldwide. No matter where you live, your order will be shipped in time and delivered right to your door or to any other location you have stated. The packages are handled with utmost care, so the ordered products will be handed to you safe and sound, just like you expect them to be.</p>
                        </div>
                    </div>
                </div>
            </div>
            

            <!-- Precio -->
            <div class="d-flex mt-4">
                <p class="h1">$35.00</p>
                <p class="h3 text-muted text-decoration-line-through ms-2 mt-2">$57.00</p>
            </div>

            <!-- Acciones -->
            <div class="d-flex flex-wrap">
                <div class="d-flex m-1">
                    <label for="cant">Cantidad:</label>
                    <input type="number" class="ms-2 form-control w-number" name="cant">
                </div>
                <button class="btn btn-success ms-3 m-1">
                    <div class="d-flex">
                        <i class="bi bi-cart font-x-large me-1"></i>
                        <p class="pt-2">Agregar al carro</p>
                    </div>
                </button>
                <button class="btn btn-success ms-3 m-1">
                    <div class="d-flex">
                        <i class="bi bi-eye-fill font-x-large me-1"></i>
                        <p class="pt-2">Seguir mirando</p>
                    </div>
                </button>
            </div>
        </div>
    </div>


    <!-- Otras opciones -->
    <nav class="d-flex justify-content-center">
        <div class="nav nav-tabs " id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-additional-information-tab" data-bs-toggle="tab" data-bs-target="#nav-additional-information"
                type="button" role="tab" aria-controls="nav-additional-information" aria-selected="true">Informaci&oacuten adicional</button>
            <button class="nav-link" id="nav-others-tab" data-bs-toggle="tab" data-bs-target="#nav-others"
                type="button" role="tab" aria-controls="nav-others" aria-selected="false">Otros datos</button>
        </div>
    </nav>
    <div class="tab-content border-nav m-4 mt-0 p-5" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-additional-information" role="tabpanel" aria-labelledby="nav-home-tab">
            <p>Fashion has always been so temporary and uncertain. You can’t keep up with it. This social phenomenon is very whimsical, thus we as the consumers always try to stay in touch with all the latest fashion tendencies.</p>
        </div>
        <div class="tab-pane fade" id="nav-others" role="tabpanel" aria-labelledby="nav-profile-tab">
            <p><strong>This is some placeholder content the Profile tab's associated content.</strong> Clicking another
                tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the
                content visibility and styling. You can use it with tabs, pills, and any other <code>.nav</code>-powered
                navigation.</p>
        </div> 
    </div>


    <!-- Interesantes -->
    <h2 class="text-uppercase mt-5 container">-Tambi&eacuten te puede interesar</h2>
    <div class="m-2 row mt-4" id="products-div" >
         
        <div class="text-center product-father p-1 mt-2 col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="  p-1  product ">
                
                <div class="card-body product-item">
                    <img loading="lazy" src="images/repeat.png" class="img-fluid w-100 rounded rounded-3 image" alt="">
                    <div class="details"> 
                        <div class="">
                            <div class="high-f p-1 bg-light rounded rounded-3 cursor">
                                <i class="bi bi-clock"> 23horas</i>
                            </div>
                            <div class="high-s rounded-circle bg-light p-1  cursor"><i class="bi bi-share-fill" style="font-size: larger;"></i></div>
                        </div>
                        <div class="d-flex justify-content-center  middle">
                            <i class="bi bi-eye p-2 bg-light rounded rounded-3 me-5 cursor"></i>
                            <i class="bi bi-cart-fill p-2 bg-light rounded rounded-3 cursor"></i>
                        </div>
                    </div>
                </div>
                <div class=""> 
                    <div class="d-flex justify-content-around">
                        <p class="text-muted genre cursor">Genero</p>
                        <div class="">
                            <i class="bi bi-star-fill star-fill"></i>
                            <i class="bi bi-star-fill star-fill"></i>
                            <i class="bi bi-star-fill star-fill"></i>
                            <i class="bi bi-star-fill star-fill"></i>
                            <i class="bi bi-star-fill star-fill"></i>
                        </div>
                    </div>
                    <p>Travel & Landmark Icon Pack (AI)</p>
                    <div class="d-flex justify-content-around">
                        <p class="text-muted"><i class="bi bi-download"> 21 ventas</i></p>
                        <p class="text-danger">$23.00</p>
                    </div>
                </div>
            </div>
        </div>  
   
    </div>



    <!-- Boton fixed con enlace a watsapp -->
    <div class="button-fixed">
        <i class="bi bi-whatsapp bg-black p-2 rounded-circle icon-2 icon-watsapp"></i>
    </div>




    {{!-- footer --}}
    {{> footer }}




    <script>
        var splide = new Splide("#main-slider", {
            arrows: false,
            width: 600,
            pagination: true,
            cover: true
        });

        var thumbnails = document.getElementsByClassName("thumbnail");
        var current;

        for (var i = 0; i < thumbnails.length; i++) {
            initThumbnail(thumbnails[i], i);
        }

        function initThumbnail(thumbnail, index) {
            thumbnail.addEventListener("click", function () {
                splide.go(index);
            });
        }

        splide.on("mounted move", function () {
            var thumbnail = thumbnails[splide.index];

            if (thumbnail) {
                if (current) {
                    current.classList.remove("is-active");
                }

                thumbnail.classList.add("is-active");
                current = thumbnail;
            }
        });

        splide.mount();
    </script>


<script type="text/javascript">
    $(function(){
    $('.zoom').zoomy({
        zoomSize: 256/3 + 256/3,
        round: true,
        border:'6px solid #fff'
    });
}); 
    </script>

    <script src="navbar.js"></script>
    <script src="index.js"></script>

</body>

</html>